// body{
//     height: 100vh;
//     display: flex;
//     flex-direction: row-reverse;
//     flex-wrap: wrap;
//     justify-content: flex-end;   
// }
#container {
    display: flex;

}

#anim {
    height: 300px;
    width: 250px;
    border: 1px solid black;
    // background-image:url("./images/link.jpg") ;
    margin-left: 50px;
    margin-top: 5px;
    // object-fit: contain;
}

#anim>span>img {
    width: 250px;
    height: 300px;
    object-fit: cover;
}
#point{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pa,#pm{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
}

#armo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#arm1,#arm2,#chrono{
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    font-size: 15px;
    color: black;
    // display: flex;
    // align-content: flex-start;
    // align-items: center;
    // justify-content: flex-end;
}


#arm1 > img, #arm2 > img{
    max-height: 50px;
    max-width: 50px;
    object-fit: cover;
    
    
    }
    
#button{
    display: flex;
    justify-content: space-around;
}

#chrono{
    font-size: 50px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}
#pm{
    background-color: green;

    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;

}

#pa{
    background-color: red ;

    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;

}




tbody {
    td {
        height: 50px;
        width: 65px;
        border: 1px solid #000000;
        background-image: url("./images/solGris.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

;


#playerMods {
    height: 550px;
    width: 500px;
    background-color: rgb(65, 65, 213);
    border: 1px solid black;
    color: white;
    // background-image: url("./images/brickOrange.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
}


.desactive {
    height: 50px;
    width: 65px;
    // border: 1px solid #000000;
    background-image: url("./images/mur.jpg");
    background-position: bottom;
//     background-repeat: no-repeat;
    background-size: 100% 100%;
}

;

.player1 {
    height: 50px;
    width: 65px;
    border: 1px solid blue;
    background-image: url("./images/link.jpg");
    background-position: bottom;
    // background-repeat: no-repeat;
    background-size: 90% 90%;
}

.player2 {
    height: 50px;
    width: 65px;
    border: 1px solid red;
    background-image: url("./images/ff6.jpg");
    background-position: bottom;
    // background-repeat: no-repeat;
    background-size: 90% 90%;
}

.chopped {
    height: 50px;
    width: 65px;
    border: 1px solid orange;
    background-image: url("./images/hache4.jpg");
    // background-position: bottom;
    // background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sword {
    height: 50px;
    width: 65px;
    border: 1px solid green;
    background-image: url("./images/sword.jpg");
    // // background-position: bottom;
    // background-repeat: no-repeat;
    background-size: 100% 100%;
}

.boot {
    height: 50px;
    width: 65px;
    border: 1px solid red;
    background-image: url("./images/botte.png");
    // background-repeat: no-repeat;
    background-size: 100% 100%;
}

.shield {
    height: 50px;
    width: 65px;
    border: 1px solid red;
    background-image: url("./images/bouclier.jpg");
    // background-position: bottom;
    // background-repeat: no-repeat;
    background-size: 100% 100%;
}

.telePortA {
    height: 50px;
    width: 65px;
    border: 1px solid rgb(232, 6, 232);
    background-image: url("./images/tourbillon.jpg");
    // background-position: bottom;
    // background-repeat: no-repeat;
    background-size: 100% 100%;
}

.telePortB {
    height: 50px;
    width: 65px;
    border: 1px solid rgb(232, 6, 232);
    background-image: url("./images/tourbillon2.jpg");
    // background-position: bottom;
    // background-repeat: no-repeat;
    background-size: 100% 100%;
}